# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Rider
*.sln.iml

# Addressables cache
Assets/AddressableAssetsData/*/*.bin*
Assets/AddressableAssetsData/*/*.json*

# Crash reports
sysinfo.txt

# Packages lock
Packages/packages-lock.json
